<mat-toolbar color="warn">
  <mat-toolbar-row> <span>Kiddo Muncher</span></mat-toolbar-row>
</mat-toolbar>

<div class="container" [style]="{ size: simulation.board.nbRows }">
  <button
    mat-raised-button
    color="primary"
    (click)="startSimulation()"
    *ngIf="!start"
  >
    Lancer une simulation
  </button>

  <div class="board" *ngIf="start">
    <ng-container *ngFor="let row of simulationDataSymbols">
      <div class="tile" *ngFor="let cell of row">{{ cell }}</div>
    </ng-container>
  </div>
</div>
