// Set variables for board size and tile size

// Create the board container element

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;

  $board-size: 80vh;
  $board-max-width-size: 400px;
  $tile-size: $board-size / var(--nbTiles);
  $tile-border-width: 2px;
  .board-size-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(147, 147, 21);
  }
  .board {
    width: $board-size;
    height: $board-size;
    display: flex;
    flex-wrap: wrap;
    font-size: calc($tile-size / 2);

    $light-tile: rgb(147, 147, 21);
    $dark-tile: #808080;

    $max-tile-size: calc($tile-size - 2 * $tile-border-width);
    .tile {
      width: $max-tile-size;
      height: $max-tile-size;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light-tile;
      border: $tile-border-width solid $dark-tile;
    }
  }
}
